body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100%;
    height: 60px;
    background: #4679e3;
    color: #fff;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    background: #fff;
    border-radius: 7px;
    border-width: 1px;
    margin: 8px;
    padding: 10px;
}

.titulo {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.subtitulo {
    margin: 5px;
}
.botao {
    height: 40px;
    background: none;
    border-radius: 5px;
    color: #4679e3;
    border: 2px solid #4679e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
}
.botao:hover {
    background: #4679e3;
    color: #fff;
}
.categoria {
    color: #4679e3;
}

@media screen and (max-width: 2560px){
    header {
        font-size: 55px;
    }
    .titulo {
        font-size: 38px;
    }
    .categoria {
        font-size: 30px;
    }
    .post{
        width: 1460px;
    }
    .subtitulo{
        font-size: 25px;
        padding: 5px;
    }
}

@media screen and (max-width: 1484px){
    header {
        font-size: 40px;
    }
    .titulo {
        font-size: 30px;
    }
    .categoria {
        font-size: 25px;
    }
    .post{
        width: 1000px;
    }
    .subtitulo{
        font-size: 20px;
        padding: 5px;
    }
}

@media screen and (max-width: 1021px){
    header {
        font-size: 35px;
    }
    .titulo {
        font-size: 25px;
    }
    .categoria {
        font-size: 22px;
    }
    .post{
        width: 900px;
    }
    .subtitulo{
        font-size: 18px;
        padding: 5px;
    }
}

@media screen and (max-width: 920px){
    header {
        font-size: 35px;
    }
    .titulo {
        font-size: 25px;
    }
    .categoria {
        font-size: 22px;
    }
    .post{
        width: 700px;
    }
    .subtitulo{
        font-size: 18px;
        padding: 5px;
    }
}

@media screen and (max-width: 720px){
    header {
        font-size: 35px;
    }
    .titulo {
        font-size: 25px;
    }
    .categoria {
        font-size: 22px;
    }
    .post{
        width: 400px;
    }
    .subtitulo{
        font-size: 18px;
        padding: 5px;
    }
}

@media screen and (max-width: 420px){
    header {
        font-size: 35px;
    }
    .titulo {
        font-size: 25px;
    }
    .categoria {
        font-size: 22px;
    }
    .post{
        width: 300px;
    }
    .subtitulo{
        font-size: 18px;
        padding: 5px;
    }
}